* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  width: 100%;
  height: auto;
}
body {
  margin: 0 auto;
  text-align: center;
  background-color: #2c69a2;
  font-size: 0.75rem;
}

.main-content {
  margin: 50px;
  border-radius: 18px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 2px 0 #333;
}

.main-content.home > * {
  margin-bottom: 15px;
}

.my-table thead tr {
  font-weight: 600;
  background-color: #316da5;
  color: white;
}

.my-table tr {
  box-shadow: 0 0 1px #999;
  transition: all 0.1s;
}

.my-table tr:hover:not(:first-child) {
  transform: scale(1.02);
}

.my-table td {
  padding: 8px;
}
